.form {

    &-border {
        border: 1px solid $light-color;
        border-radius: 25px;
    }

    &-text {
        display: block;
        margin-top: 0.3rem;
        // @todo Change color
        color: $primary-color;
    }

    input[type='name'],
    input[type='email'] {
        width: 50%;
        padding: 0.4rem;
        font-size: 1.2rem;
        border: 1px solid $medium-color;
    }


    input[type='password'],
    input[type='date'],
    select,
    textarea {
        width: 100%;
        padding: 0.4rem;
        font-size: 1.2rem;
        border: 1px solid $medium-color;
    }

    input[type='submit'] {
        font: inherit;
    }
}