@import 'config';
@import 'form';
@import 'utilities';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1 rem;
    line-height: 1.6;
    background-color: $dark-color;
    color: $light-color;
}

a {
    text-decoration: none;
    color: $primary-color;
}

ul {
    list-style: none;
}

img {
    width: 100%;
}

// About

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;

    line-height: 1.8;
    border: 3px solid $primary-color;
    padding: 1rem;

    img {
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .about-text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .skills-list {
        display: grid;
        grid-template-columns: repeat(2, minmax(140px, 200px));
        gap: 0px 10px;
        padding: 0px;
        margin: 20px 0px 0px;
        overflow: hidden;
        list-style: none;
    }
}

// Footer

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 70px;
    padding: 15px;
    text-align: center;
}

// Landing

.landing {
    position: relative;
    background: url("../img/stars-img.jpg");
    height: 100vh;

    &-inner {
        color: $light-color;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        text-align: center;
        width: 80%;

        &-home {
            text-align: left;
        }
    }
}

// Navbar
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 1px $primary-color;
    opacity: 0.9;

    ul {
        display: flex;
    }

    a {
        color: #fff;
        padding: 0.45rem;
        margin: 0 0.25rem;

        &:hover {
            color: $primary-color;
        }
    }
}

// Portfolio

.portfolio-container {
    margin-top: 3rem;
    line-height: 1.8;
    border: 3px solid $primary-color;
    padding: 1rem;
}

.projects-grid {
    list-style: none;
    padding: 0px;
    margin: 50px 0px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    position: relative;
}