@import 'config';
@import 'utilities';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1 rem;
    line-height: 1.6;
    background-color: $dark-color;
    color: $light-color;
}